<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
<%- include('./partials/nav') %>
  <h1>Full Menu</h1>
<% RESTAURANT.menu.forEach((item) => { %>
     <h3>Name: <%= item.name %></h3> 
     <h4>Price: <%= item.price %></h4>
     <h4>
        Rating:
     <% if(item.rating === 5) { %>
        ⭐️⭐️⭐️⭐️⭐️
      <% } else if(item.rating === 4) { %>
        ⭐️⭐️⭐️⭐️
      <% } else if(item.rating === 3) { %>
        ⭐️⭐️⭐️
      <% } else if(item.rating === 2) { %>
        ⭐️⭐️
      <% } else { %>
        ⭐️
      <% } %> 
    </h4>
     <h4>Details: <%= item.details %></h4> 
     <br>
<%})%>
</body>
</html>
